*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Poppins, sans-serif;
}

.container{
    padding: 0.1.5rem;
    background-color: rgb(68, 69, 70);
        
}
.wrapper{
    padding: 10px;
    display: flex;  
}
.wrapper ul{
    display: flex;
    text-align: center;
    margin-left: 550px;
    margin-top: 15px;
}
.wrapper ul li{
    padding-left: 20px;
    color: white;
}
section{
    display: flex;
    width: 1024px;
    height: auto;
    margin: 0px 0px 0px 150px;
   

}
main{
    width: 80%;
    
    
}
.area-noticia{
    padding: 10px;
    
}

.area-noticia h1{
    padding-top: 20px;
    padding-bottom: 10px;
}

.sidebar{
    width:20%;
    margin-top: 2px;
    margin-bottom: 2px;
     
}
.area-pesquisar{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2px;   
}
#btn-pesquisar input{
  border: 1px solid silver
}

.sidebar-col{
   
    width: 92%;
    margin-left: 0px;
    height: auto;
}
.sidebar-col2{
    border: 1px solid silver
}
.sidebar-col3 img{
    width: 100%;
    height: 120px;
    margin-top:px;
}
#area-img{
    margin-top: 50px;        
}
.img-noticia{
    width: 380px;
    height: 240px;
    padding: 10px;
}
#btnLeiaMais{
    border-radius: 5px;
    background-color: rgb(11, 158, 243);
    width: 70px;
    margin: 10px;
    color: white;
}
footer{
    border: 1px solid black;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(73, 64, 64);
}
span{
    color:white;
}

ul{
    display: flex;
    gap: 1.5em;
}
ul li{
    color:white;
}